* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  background-color: #3E4054;
  padding: 4rem;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.lns-name {
  max-width: 100%;
}

.logo {
  width: 60%;
  height: 60%;
}

.landing-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.navbar {
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  background: #3E4054;
  z-index: 10;
  padding: 0.5rem 0;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 6rem;
  padding: 0;
}

.navbar-links a{
  color:rgb(250, 250, 250);
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  display: inline-block;
}

.navbar-links a:hover {
  text-decoration: none;
  transform: scale(1);
  text-shadow: 0px 0px 10px #ffffff;
}

hr {
  margin: 5rem 0;
}

.content-hr {
  margin-left: 5rem;
  margin-right: 5rem;
}

.section-title {
  font-family: 'Catamaran', sans-serif;
  color:rgb(250, 250, 250);
  font-size: 2rem;
  margin: 2rem 5rem;
}

.chi-siamo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}

.lns-description {
  flex: 1 0 40%;
  font-size: 1.6rem;
  color:rgb(250, 250, 250);
  font-family: 'Catamaran', sans-serif;
  text-align: left;
  padding-right: 2rem;
}

.lns-vesuvius {
  flex: 1 0 60%;
}

.mySlides {
  display: none;
  overflow: hidden;
  border-radius: 1rem;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  flex: 1 0 60%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.room-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  margin-bottom: 10rem;
}

.room-description {
  flex: 1 0 40%;
  font-size: 1.4rem;
  color:rgb(250, 250, 250);
  font-family: 'Catamaran', sans-serif;

}

.room-description:first-child {
  padding-right: 2rem;
}

.room-description:last-child {
  padding-left: 2rem;
}

.room-description h3 {
  font-family: 'Parisienne', cursive;
  font-size: 2.8rem;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 7rem;
  gap: 2rem;
  padding: 0 5rem;
}

.service-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}

#prenota, 
#contatti {
  text-align: center;
  margin-bottom: 4rem;
}

.booking-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 5rem;
  margin-bottom: 10rem;
}

.booking-section div a:hover {
  transform: scale(1.1);
}

.contact-container {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
  font-family: 'Catamaran', sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-container img {
  display: inline-block;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 5rem;
  justify-content: space-around;
}


a {
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.3s;
}

.contacts a:hover {
  text-shadow: 0px 0px 6px #ffffff;
}

.room-description h3 {
  margin-top: 0;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 1350px) {
  .content-hr, .section-title {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .chi-siamo, .room-container, .services, .booking-section, .contacts {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lns-description {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 3rem;
  }

  .navbar-links a {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
  }
}

@media only screen and (max-width: 950px) {
  hr {
    margin: 3rem 0;
  }

  .navbar-links {
    gap: 1.5rem;
  }

  .navbar-links a {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .room-description {
    font-size: 1.2rem;
  }

  .room-container {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  body {
    padding: 2rem;
  }

  .navbar {
    position: static;
  }

  .section-title {
    margin-left: 0;
    margin-right: 0;
  }

  .chi-siamo, .room-container, .services, .booking-section, .contacts {
    padding-left: 0;
    padding-right: 0;
  }

  .content-hr {
    margin-left: 0;
    margin-right: 0;
  }

  .chi-siamo, .room-container {
    flex-direction: column;
    gap: 2rem;
  }

  .booking-section {
    margin-bottom: 5rem;
  }

  .room-description {
    padding: 0 !important;
  }

  .room-container:nth-child(1), .room-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .services {
    gap: 0;
    justify-content: flex-start;
    margin-bottom: 5rem;
  }

  .service-container {
    width: 50%;
    margin: 0;
    padding-bottom: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .contacts {
    gap: 1rem;
  }

  .contact-container {
    font-size: 1.2rem;
  }
}
